/* header style */
header {
	height: 70px;
	width: 100%;
	background: url('/images/logo.png') no-repeat left center;
	background-color: white;
	background-size: cover;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 20px;
}
