/* header style */
header {
	height: 70px;
	width: 100%;
	background: url('/images/logo.png') no-repeat left center;
	background-color: white;
	background-size: contain;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 20px;
}

#logo {
	background-image: url('/images/logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	width: 50px;
	height: auto;
	margin-right: 20px;
}
