/* header style */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 20px;
}

#logo {
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain; /* or specify width and height */
}
