/* Reset margins and paddings */
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

div.container {
	width: 1000px;
	margin-top: 30px;
	margin-bottom: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
